@page
@model RegisterCompanyModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<br />
<style>
    .col-md-4 {
        border: black solid 2px;
        border-radius: 15px;
    }
</style>
<body>
    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <section>
                    <h3 style="font-size: 24px"><b>Welcome to</b><b style="color: red;"> Dev IT</b></h3>
                    <hr style="border: 1px solid black" />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                            <div>
                                <p>
                                    By continuing, you agree to Dev IT's <a href="/Home/Rules">Terms of Use</a> and <a href="/Home/Policy">Privacy Policy </a> regarding to your private information.
                                </p>
                                <b>Log in now to take full advantage of Dev IT tools and increase your chances of accessing the hottest IT jobs</b>
                                <ul>
                                    <li>Apply faster with your saved profile.</li>
                                    <li>Manage application documents and track application status updates.</li>
                                    <li>View salary for each position</li>
                                    <li>Save your favorite jobs to apply for later</li>
                                    <li>Take personality assessment tests</li>
                                </ul>
                            </div>
                        }
                    }
                </section>
            </div>       
            <div class="col-md-4">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h1 style="text-align: center; margin-top: 5px">Create account employer</h1>
                    <br />
                    <a asp-page="./Register" style="width: 48%" type="button" class="btn btn-primary">Applicant</a> | <button onclick="showNewForm()" style="width: 48%" type="button" class="btn btn-success">Employer</button>
                    <div class="form-group">
                        <label asp-for="Input.Email" style="font-weight: 450 !important; color: black"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" style="font-weight: 450 !important; color: black">Password</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword" style="font-weight: 450 !important; color: black">Confirm password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NameCompany" style="font-weight: 450 !important; color: black">Company name</label>
                        <input asp-for="Input.NameCompany" class="form-control" />
                        <span asp-validation-for="Input.NameCompany" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Location" style="font-weight: 450 !important; color: black">Location</label>
                        <input asp-for="Input.Location" class="form-control" placeholder="Ex: Thủ Đức, TP.Hồ Chí Minh" />
                        <span asp-validation-for="Input.Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.CompanySize" style="font-weight: 450 !important; color: black">Size</label>
                        <input asp-for="Input.CompanySize" class="form-control" placeholder="50-100" />
                        <span asp-validation-for="Input.CompanySize" class="text-danger"></span>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-default btn-primary" style="width: 100%; font-size: 18px">Register</button>
                    <br />
                    <br />
                    <a asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" class="nav-link">Have an account</a>
                </form>
            </div>
        </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
