<!DOCTYPE html>
<html>
<body>
    <p>Kính gửi {{UserName}} </p>
    <p>
        Chúng tôi rất vui mừng thông báo rằng đơn ứng tuyển của bạn cho vị trí {{Position}} tại công ty {{CompanyName}} đã được xem
        xét và thông qua.
    </p>
    <p>
        Bước tiếp theo, chúng tôi xin mời bạn tham gia buổi phỏng vấn trực tiếp để trao đổi chi tiết hơn về vai trò cũng như để 
        hiểu thêm về bạn. Vui lòng liên hệ với chúng tôi qua email {{Email}}  để xác nhận thời gian phỏng vấn thuận tiện nhất cho bạn.
    </p>
    <p>Chúng tôi rất mong đợi được gặp bạn và thảo luận thêm về cơ hội hợp tác này.</p>
</body>
</html>