<!DOCTYPE html>
<html>
<body>
    <p>Kính gửi {{UserName}}</p>
    <p>
        Trước hết, chúng tôi xin chân thành cảm ơn bạn đã dành thời gian để chia sẻ ý kiến và đóng góp của mình cho trang web của chúng tôi.
        Chúng tôi luôn coi trọng những phản hồi từ phía người dùng để không ngừng cải thiện và nâng cao chất lượng dịch vụ.
    </p>
    <p>
        Chúng tôi đã nhận được góp ý của bạn về {{Note}}.
        Đội ngũ phát triển và quản lý của chúng tôi đã xem xét kỹ lưỡng và rất coi trọng những nhận xét này.
    </p>

</body>
</html>