
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align: center">Thêm mẫu CV mới</h2>

<div class="row" style="display: flex; justify-content: center">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body pt-3">
                <div id="error" class="error" style="display: none;"></div>
                <form enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label  class="control-label">Tên mẫu CV</label>
                        <input  class="form-control" id="template_name" />
                        <span  class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Ảnh</label>
                        <input id="post_file" type="file" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    
                    <div class="container">
                        <div class="row">

                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Loại CV</label>
                                    <select class="form-control"  id="category" asp-items="ViewBag.List_category"></select>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="control-label">HTML mẫu</label>
                        <input  class="form-control" id="html_template"/>
                        <span  class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary btn_add_new_template">Thêm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            //add new template
            $('.btn_add_new_template').click(function(){
                let data_template = {
                    Name: $('#template_name').val(),
                    HtmlTemplate: $('#html_template').val(),
                    TypeID: $('#content_post').val(),
                    ImagePath: image
                };

                debugger;
                $.ajax({
                    url: '/Home/CreatePost',
                    type: 'POST',
                    data: postData,
                    success: function (result) {
                        if (result.success == true) {
                            console.log("Create new post success")
                            location.reload()
                        }
                        else {
                            console.log("Create new post fail")
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred: " + error);
                    }
                })
            })

            var image = null;
            //Get image template
            $('#post_file').change(function () {

                var formData = new FormData();
                var fileInput = $(this)[0];
                formData.append('file', fileInput.files[0]);

                debugger;

                $.ajax({
                    url: '/Admin/Template/UploadImage',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log("Add image success");

                        if (response.success === true) {
                            image = response.imageUrl;
                            console.log("Image upload success.");
                        }
                        else {
                            image = null;
                            console.log("Image upload failed.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Add image failed.");
                        imageUrl = null;
                    }
                });
            })
        });
    </script>

}
